version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
      args:
          BACKEND_PORT: ${BACKEND_PORT} 
    volumes:
      - ./backend:/app
      - /app/__pycache__
    env_file:
      - .env
    ports:
      - "${BACKEND_PORT}:${BACKEND_PORT}"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend-next
      dockerfile: Dockerfile.dev
      args:
        NEXT_PORT: ${NEXT_PORT} 
    volumes:
      - ./frontend-next:/app
      - /app/node_modules
    env_file:
      - .env
    ports:
      - "${NEXT_PORT}:${NEXT_PORT}"
    depends_on:
      - backend
    restart: unless-stopped
